.input {
  display: flex;
  align-items: center;
  height: 22px;
  border: 1px solid lightgray;
  padding: 10px 20px;
  border-radius: 999px;
  width: 71vw;
  margin: 0 auto;
  max-width: 560px;
}

.input > input {
  flex: 1;
  padding: 10px 20px;
  font-size: medium;
  border: none;
}

.input > input:focus {
  outline-width: 0;
  outline: none;
}

.inputIcon {
  color: gray;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .input {
    height: 20px;
  }
  .search {
    margin: auto;
  }
}
